In [1]:
import requests

In [2]:
api_key = 'HUO3P0E85C8DIU0F'

In [3]:
ticker = 'GME'

In [4]:
url = f'https://www.alphavantage.co/query?function=TIME_SERIES_DAILY&symbol={ticker}&apikey={api_key}'
url

'https://www.alphavantage.co/query?function=TIME_SERIES_DAILY&symbol=GME&apikey=HUO3P0E85C8DIU0F'

In [5]:
response = requests.get(url)
response

In [10]:
import pandas as pd
gme_df = pd.DataFrame(response.json()['Time Series (Daily)']).transpose()
gme_df

            1. open  2. high   3. low 4. close 5. volume
2021-02-10  50.7700  62.8300  46.5500  51.2000  35943280
2021-02-09  56.6100  57.0000  46.5200  50.3100  25598598
2021-02-08  72.4100  72.6600  58.0200  60.0000  25687282
2021-02-05  54.0400  95.0000  51.0900  63.7700  81345013
2021-02-04  91.1900  91.5000  53.3300  53.5000  62427275
...             ...      ...      ...      ...       ...
2020-09-24   9.7100   9.8100   9.0100   9.1400   7938838
2020-09-23  10.6000  10.8600   9.9200  10.0400  10651152
2020-09-22  10.4500  11.1699   9.9000  10.5600  34752484
2020-09-21   9.3500   9.6000   8.3800   8.7500   7639806
2020-09-18   9.2000   9.7700   8.9100   9.4700  17407513

[100 rows x 5 columns]

In [11]:
gme_df.set_index((gme_df.index, 'symbol'))

TypeError: The parameter "keys" may be a column key, one-dimensional array, or a list containing only valid column keys and one-dimensional arrays.. Received column of type <class 'tuple'>

In [12]:
gme_df['ticker'] = ticker
gme_df

             1. open   2. high    3. low  4. close 5. volume ticker
2021-02-04   91.1900   91.5000   53.3300   53.5000  62427275    GME
2021-02-03  112.0100  113.3999   85.2500   92.4100  42698511    GME
2021-02-02  140.7600  158.0000   74.2201   90.0000  76663691    GME
2021-02-01  316.5600  322.0000  212.0000  225.0000  37382152    GME
2021-01-29  379.7100  413.9800  250.0000  325.0000  49414294    GME
...              ...       ...       ...       ...       ...    ...
2020-09-18    9.2000    9.7700    8.9100    9.4700  17407513    GME
2020-09-17    8.5700    9.7700    8.4100    9.2000  17026720    GME
2020-09-16    7.0300    9.0400    7.0300    8.6800  19346508    GME
2020-09-15    6.8600    7.2600    6.6850    7.0900   5743489    GME
2020-09-14    6.8000    7.0000    6.4300    6.9100  10118972    GME

[100 rows x 6 columns]

In [13]:
responses = []
for ticker in ['GME', 'TSLA', 'AAPL']:

    url = f'https://www.alphavantage.co/query?function=TIME_SERIES_DAILY&symbol={ticker}&apikey={api_key}'
    response = requests.get(url)
    responses.append(response.json())

In [19]:
pd.DataFrame(responses)

,Meta Data,Time Series (Daily)
0,"{'1. Information': 'Daily Prices (open, high, ...","{'2021-02-04': {'1. open': '91.1900', '2. high..."
1,"{'1. Information': 'Daily Prices (open, high, ...","{'2021-02-04': {'1. open': '855.0000', '2. hig..."
2,"{'1. Information': 'Daily Prices (open, high, ...","{'2021-02-04': {'1. open': '136.3000', '2. hig..."